.login__container .login__signInButton {
    transition-duration: 0.4s;
    background: f0c14b;
    text-align: center;
    line-height: 5px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 40px;
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.login__container > h1 {
    text-align: center;
}

.login__container .login__signInButton:hover {
    background-color: #a88734;
    color: white;
}


.login__container input[type="radio"]{
    height: 30px;
    line-height: 50px;
    vertical-align: baseline;
    width: 100px;
}
